/* Estilos generales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
  padding: 0;
}

/* Encabezado */
header {
  background-color: #e60012;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
}

.menu:hover {
  text-align: right;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 10px red;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-left: 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

/* Contenido principal */
.carrousel img {
  width: 100%;
  display: flex;
}

main {
  padding: 20px;
  overflow: hidden;
}

section {
  margin-bottom: 40px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.vehiculos-section {
  background-color: #f2f2f2;
  padding: 30px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.contacto {
  background-color: #f2f2f2;
  padding: 30px;
  margin: 0;
}

.contacto label {
  margin-bottom: 5px;
  display: block;
}

.contacto input,
.contacto textarea {
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.contacto button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.logo div {
  background-color: #f2f2f2;
  padding: 30px;
}

.logo h2 {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.vehiculos-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.vehiculos-section h2 {
  text-decoration-color: #e60012;
  text-align: center;
}

.vehiculo {
  flex: 1;
  margin-right: 0px;
}

.vehiculo img {
  width: 100%;
  border-radius: 5px;
}

.noticias-container {
  width: 50%;
  float: left;
}

.video-container {
  width: 50%;
  float: right;
}

.video-container iframe {
  width: 100%;
}

.vehiculos-section div label {
  display: inline-block;
  width: 80px;
}

.fcc-btn {
  background-color: red;
  color: white;
  width: 100%;
  text-align: center;
  text-decoration-style: solid;
}

/* Pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  clear: both;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-media {
  float: left;
}

footer .contact-info {
  float: right;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline;
  margin-left: 10px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer .contact-info p {
  margin: 0;
  line-height: 1.5;
}

/* Media Queries */
@media (max-width: 768px) {
  .logo img {
    width: 100px;
  }

  .menu {
    display: none;
  }

  .logo div {
    padding: 10px;
  }

  .noticias-container,
  .video-container {
    width: 100%;
    float: none;
  }
}

@media (max-width: 600px) {
  .vehiculos-section {
    flex-direction: column;
  }

  .vehiculos-container {
    flex-direction: column;
  }

  .vehiculo {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
